<div class="card mt-5" *ngIf="user$ | async as user; else loading">
    <div class="card-body">
        <h3 class="text-center card-title">Gracias por registrarse!</h3>
        <div class="form-group mt-2">
            <p class="text-center">
                Hemos enviado un correo electrónico de confirmación a <strong>{{ user?.email }}</strong>
            </p>
            <p class="text-center">
                Por favor revise su correo electrónico y haga clic en el enlace para verificar su correo electrónico.
            </p>
        </div>
        <div class="form-group text-center mt-5" (click)="onSendEmail()">
            <button class="btn btn-primary">
                Reenviar correo electrónico de verificación
            </button>
        </div>
    </div>
</div>

<ng-template #loading>
    Loading....
</ng-template>