



<div class="row justify-content-center">

    <h1>Bienvenidos al Home!!</h1>

    <div class="col-md-10">

        <div class="d-flex mb-3">

            <div class="flex-grow-1 p-2"><input type="text" class="form-control" placeholder="buscar"></div>

            <!-- <div class="p-2">
                <button class="btn btn-secondary  btn-block">salir</button>
            </div> -->

        </div>

        <div class="row">

            <table class="table table-bordered table-hover table-responsive-md btn-table border border-light">

                <thead class="text-center bg-primary">
                    <tr>
                        <th>Nombre</th>
                        <th>correo</th>
                        <th>foto</th>

                    </tr>
                </thead>

                <tbody class="text-center">
                    <tr>
                        <td>
                            nombre1
                        </td>
                        <td>
                            correo1
                        </td>
                        <td>
                            foto1
                        </td>

                    </tr>
                    <tr>
                        <td>
                            nombre2
                        </td>
                        <td>
                            correo2
                        </td>
                        <td>
                            foto2
                        </td>

                    </tr>
                </tbody>

            </table>


        </div>
    </div>
</div>